// please add global style here

/* 改变主题色变量 */
$--color-primary: #52ddab;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

section.content-container {
  // padding: 20px;
  padding: 0.4rem;
}

.text-center {
  text-align: center;
}
.date-picker-container .el-time-spinner.has-seconds .el-time-spinner__wrapper {
  width: 50%;
}

.mark-reason {
  max-height: 150px !important;
  overflow: auto;
}
.el-submenu__title {
  padding-left: 0.2rem !important;
}
.menu-list .el-menu-item {
  padding-left: 0.6rem !important;
}
